<appSettings>
  <add key="AdminEmail" value="lloydfitzroysmith@googlemail.com" />
  <add key="AdminPassword" value="NeroAngelo25" />
  
  <add key="CompanyCheckAPIKey" value="LK1MT6cIr-InKf1XImtONSBLPD_b4RK2MSQJ-Tef" />

  <add key="GmailUserNameKey" value="lloydfitzroysmith@googlemail.com" />
  <add key="GmailPasswordKey" value="AtomEngine25" />
  <add key="GmailHostKey" value="smtp.gmail.com" />
  <add key="GmailPortKey" value="25" />
  <add key="GmailSSLKey" value="true" />
</appSettings>